
.chart-view {

}
.chart-container {

}

.chart-toolbar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.chart-toolbar .dropdown-menu.show {
  max-height: 100vh;
  overflow-y: auto;
}

