.input-groups {
  /* display: table; */
  .input-item {
    /* display: table-cell; */
    display: inline-block;
    vertical-align: middle;
  }
  .input-item + .input-item {
    padding-left: 10px;
  }
}

/* number input */
:global {
  .chart-number-input-control {
    position: relative;
    display: inline-block;

    .chart-number-input {
      padding: 4px;
      padding-right: 20px;
      box-sizing: border-box;
      font-size: inherit;
      border: 1px solid #ccc;
      border-radius: 1px;
      line-height: 20px;
      background: #fff;
      color: #333;
      -webkit-appearance: none;
      &:focus {
        outline: none;
      }
      &:disabled {
        color: rgba(0, 0, 0, 0.3);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
    }

    .arrowUp {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent rgba(0, 0, 0, 0.3);
      border-style: solid;
      margin: -3px 0 0 -4px;
    }

    .arrowDown {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border-width: 4px 4px 0 4px;
      border-color: rgba(0, 0, 0, 0.3) transparent transparent;
      border-style: solid;
      margin: -1px 0 0 -4px;
    }

    .btnUp,
    .btnDown {
      position: absolute;
      right: 2px;
      width: 16px;
      border-color: transparent;
      border-style: solid;
      text-align: center;
      cursor: default;
      transition: all 0.1s;
      background: transparent;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &:disabled {
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
    .btnUp {
      top: 2px;
      bottom: 50%;
      border-width: 1px 1px 0 1px;
    }

    .btnDown {
      top: 50%;
      bottom: 2px;
      border-width: 0 1px 1px 1px;
    }
  }

  .chart-theme-dark .chart-number-input-control {
    .chart-number-input {
      border: 1px solid #405060;
      background: #405060;
      color: #fff;
      &:disabled {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .arrowUp {
      border-color: transparent transparent rgba(255, 255, 255, 0.3);
    }

    .arrowDown {
      border-color: rgba(255, 255, 255, 0.3) transparent transparent;
    }
  }
}

:global {
  .chart-checkbox-control {
    min-width: 25px;
  }
}

/* level color */
:global {
  .chart-level-color-wrapper {
    > ul {
      margin: 0 0 10px 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: repeat(6, 30px);
      grid-auto-flow: column;
    }
    /* for ie */
    > ul {
      display: -ms-grid;
      -ms-grid-columns: 150px 150px 150px 150px;
      -ms-grid-rows: 30px 30px 30px 30px 30px 30px;
    }
    > ul > li {
      &:nth-child(6n) ~ li {
        -ms-grid-column: 2;
      }
      &:nth-child(1),
      &:nth-child(6n + 1) {
        -ms-grid-row: 1;
      }
      &:nth-child(2),
      &:nth-child(6n + 2) {
        -ms-grid-row: 2;
      }
      &:nth-child(3),
      &:nth-child(6n + 3) {
        -ms-grid-row: 3;
      }
      &:nth-child(4),
      &:nth-child(6n + 4) {
        -ms-grid-row: 4;
      }
      &:nth-child(5),
      &:nth-child(6n + 5) {
        -ms-grid-row: 5;
      }
      &:nth-child(6),
      &:nth-child(6n + 6) {
        -ms-grid-row: 6;
      }
    }
    /* end for ie */

    > ul > li {
      display: block;
      margin: 5px 0;
      padding: 0;
      > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      input[type='number'],
      input[type='text'] {
        max-width: 65px;
        padding: 4px;
        line-height: 16px;
        border: 1px solid #ccc;
        border-radius: 1px;
        -webkit-appearance: none;
      }
      input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .chart-color-input-control-wrapper {
      margin-left: 5px;
    }
    .chart-color-input-control {
      width: 20px;
      .chart-color-input {
        width: 20px;
        height: 20px;
      }
    }
    .chart-level-color-one {
      .chart-checkbox-control span {
        margin: 0 14px;
        display: inline-block;
        line-height: 24px;
        width: 65px;
      }
      .chart-color-input-control-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0;
      }
    }
  }

  .chart-theme-dark .chart-level-color-wrapper {
    > ul > li {
      > input {
        border: 1px solid #405060;
        background: #405060;
        color: #fff;
      }
    }
    .chart-color-input-control {
      width: 20px;
      .chart-color-input {
        width: 20px;
        height: 20px;
      }
    }
  }
}

/* alpha input */
:global {
  .chart-alpha-input-control {
    .chart-alpha-input-control-pointer {
    }
  }
}

/* color input */
:global {
  .chart-color-input-control-wrapper {
    position: relative;
  }
  .chart-color-input-control-placeholder {
    width: 30px;
    height: 32px;
  }
  .chart-color-input-control {
    padding: 2px;
    background: #fff;
    box-shadow: 0 0 0 1px #ccc;
    cursor: pointer;
    box-sizing: content-box;
    width: 26px;
    .chart-color-input {
      width: 26px;
      height: 26px;
    }
  }

  .chart-color-input-popover {
    position: absolute;
    z-index: 2;
    .chart-color-input-cover {
      position: fixed;
      top: -5000px;
      right: -5000px;
      bottom: -5000px;
      left: -5000px;
    }
  }

  .chart-color-picker {
    border-radius: 0 !important;
    input {
      color: #333;
    }
  }

  .chart-theme-dark {
    .chart-color-input-control {
      background: #405060;
      box-shadow: 0 0 0 1px #405060;
    }
    .chart-color-picker {
      background-color: #2c3641 !important;
      input {
        border: 1px solid #405060 !important;
        box-shadow: none !important;
        color: #fff !important;
        background: #405060;
      }
      input + span {
        color: #fff !important;
      }
    }
  }
}

/* select */
:global {
  .chart-select-control {
    position: relative;
  }

  .chart-select-control > .chart-select-control-inner {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 5px;
    min-width: 90px;
    transition: all 200ms ease;

    .chart-select-disabled {
      color: #999;
      .chart-select-control-arrow {
        visibility: hidden;
      }
    }
  }
  .chart-select-control-label {
    padding-left: 4px;
  }
  .chart-select-control-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 6px;
    top: 14px;
    width: 0;
  }

  .is-open .chart-select-control-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }

  .chart-select-control-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }

  .chart-select-control-menu .chart-select-control-group > .chart-select-control-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }

  .chart-select-control-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }

  .chart-select-control-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .chart-select-control-option:hover {
    background-color: #f2f9fc;
    color: #333;
  }

  .chart-select-control-option.is-selected {
    background-color: #f2f9fc;
    color: #333;
  }

  .chart-select-control-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  /* for theme */
  .chart-theme-dark {
    .chart-select-control > .chart-select-control-inner {
      border: 1px solid #405060;
      background: #405060;
      color: #fff;
      .chart-select-disabled {
        color: #999;
      }
    }

    .chart-select-control-menu {
      background-color: #405060;
      border: 1px solid #405060;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    .chart-select-control-option {
      color: #fff;
    }
    .chart-select-control-option.is-selected {
      background-color: #2c3641;
      color: #fff;
    }
    .chart-select-control-option:hover {
      background-color: #2c3641;
      color: #fff;
    }
  }

  /* for type */
  .chart-select-control-type-width,
  .chart-select-control-type-dashed {
    .chart-select-control-label[data-value],
    .chart-select-control-option[data-value] {
      position: relative;
      overflow: hidden;
      text-indent: -999px;
      background-position: center;
      background-repeat: repeat-x;
      background-clip: content-box;
    }
    .chart-select-control-label[data-value] {
      padding-left: 5px;
      padding-right: 14px;
    }
  }
  /* style line width */
  .chart-select-control-type-width {
    [data-value] {
      position: relative;
    }
    [data-value]::before {
      position: absolute;
      content: '';
      left: 10px;
      right: 10px;
      top: 50%;
      bottom: 0;
      border-style: solid;
      border-color: #999;
      border-width: 0;
      /* background-image: linear-gradient(to right, #999);
      background-image: -ms-linear-gradient(left,#999 0%,#999 100%); */
    }
    .chart-select-control-label[data-value]::before {
      left: 5px;
      right: 12px;
    }
    [data-value='0.5']::before {
      /* background-size: 10px 1px; */
      opacity: 0.6;
      border-top-width: 1px;

      /* -weikit-transform: scaleY(0.5); */
    }
    [data-value='1']::before {
      /* background-size: 10px 1px; */
      border-top-width: 1px;
    }
    [data-value='2']::before {
      /* background-size: 10px 2px; */
      border-top-width: 2px;
    }
    [data-value='3']::before {
      /* background-size: 10px 3px; */
      border-top-width: 3px;
    }
  }

  .hairlines.chart-select-control-type-width [data-value='0.5']::before {
    opacity: 1;
    height: 1px;
    transform: scaleY(0.5);
  }

  /* style line dashed */
  .chart-select-control-type-dashed {
    [data-value='1'] {
      background-image: linear-gradient(to right, #999);
      background-image: -ms-linear-gradient(left, #999 0%, #999 100%);
      background-size: 10px 1px;
    }
    [data-value='2'] {
      background-image: linear-gradient(to right, #999 50%, transparent 0%);
      background-size: 10px 1px;
    }
    [data-value='3'] {
      background-image: linear-gradient(to right, #999 50%, transparent 0%);
      background-size: 5px 1px;
    }
    [data-value='4'] {
      background-image: linear-gradient(
        to right,
        transparent 10%,
        #999 0,
        #999 20%,
        transparent 0,
        transparent 40%,
        #999 0,
        #999 60%,
        transparent 0,
        transparent 70%,
        #999 0
      );
      background-size: 20px 1px;
    }
  }
}
