/* chart  tabs */

:global .chart-nav-tabs {
  $nav-tabs-font-size: 14px;
  $nav-tabs-border-color: #dee2e6;
  $nav-tabs-border-width: 1px;
  $nav-tabs-border-radius: 2px;
  $nav-tabs-item-active-color: #495057;
  $nav-tabs-item-active-bg: white;
  $nav-tabs-item-active-border-color: #dee2e6 #dee2e6 white;
  $nav-tabs-item-hover-bg: #efefef;
  $nav-tabs-item-padding: 0.375em 1em;

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: $nav-tabs-font-size;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  .chart-nav-item {
    display: block;
    padding: $nav-tabs-item-padding;
    text-decoration: none;
    border: $nav-tabs-border-width solid transparent;
    border-radius: $nav-tabs-border-radius $nav-tabs-border-radius 0 0;
    margin-bottom: -$nav-tabs-border-width;
    cursor: pointer;
    &:hover {
      background-color: $nav-tabs-item-hover-bg;
      background-clip: padding-box;
    }
  }

  .chart-nav-item.active {
    color: $nav-tabs-item-active-color;
    background-color: $nav-tabs-item-active-bg;
    border-color: $nav-tabs-item-active-border-color;
  }
}

:global .chart-nav-content {
    padding: 4px 8px;
  > .chart-tab-pane {
  }
}


/* for dark theme */
:global .chart-theme-dark .chart-nav-tabs {
  $nav-tabs-font-size: 14px;
  $nav-tabs-border-color: #405060;
  $nav-tabs-border-width: 1px;
  $nav-tabs-border-radius: 2px;
  $nav-tabs-item-active-color: #fff;
  $nav-tabs-item-active-bg: #2c3641;
  $nav-tabs-item-active-border-color: #405060 #405060 #2c3641;
  $nav-tabs-item-hover-bg: #405060;
  $nav-tabs-item-padding: 0.375em 1em;

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: $nav-tabs-font-size;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  .chart-nav-item {
    display: block;
    padding: $nav-tabs-item-padding;
    text-decoration: none;
    border: $nav-tabs-border-width solid transparent;
    border-radius: $nav-tabs-border-radius $nav-tabs-border-radius 0 0;
    margin-bottom: -$nav-tabs-border-width;
    cursor: pointer;
    &:hover {
      background-color: $nav-tabs-item-hover-bg;
      background-clip: padding-box;
    }
  }

  .chart-nav-item.active {
    color: $nav-tabs-item-active-color;
    background-color: $nav-tabs-item-active-bg;
    border-color: $nav-tabs-item-active-border-color;
  }
}