<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chart Demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" href="./assets/favicon.ico" />
    <link
      href="https://v4.bootcss.com/docs/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_609998_213w5n9lv3k.css"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch"
    ></script>
    <script type="text/javascript" src="./assets/jquery.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
