.chart-modal-dialog {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  width: 95%;
  width: calc(100% - 20px);
  margin: 100px auto;
  cursor: default;
  @media (min-width: 768px) {
    width: 500px;
  }
  .chart-modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #333;
    outline: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .chart-modal-header {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    color: #333;
    h1, h2, h3, h4 {
      font-size: 14px;
      margin: 5px 0;
    }
    .close {
      float: right;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      padding: 0;
      cursor: pointer;
      background: transparent;
      border: 0;
      margin-top: -2px;
      margin-right: 2px;
      -webkit-appearance: none;
    }
  }

  .chart-modal-body {
    position: relative;
    padding: 10px 5px;
  }

  .chart-modal-footer {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;

    :global .chart-btn {
      font-size: 12px;
      padding: 0.25em 0.5em;
      border-width: 1px;
    }

    :global .chart-btn + .chart-btn {
      margin-bottom: 0;
      margin-left: 1em;
    }

    .chart-btn-cancel {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }

    .chart-btn-save {
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
    }
  }

  /* for dark theme */
  :global(.chart-theme-dark)& {
    .chart-modal-content {
      color: #fff;
      background-color: #2c3641;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .chart-modal-header {
      border-bottom: 1px solid #405060;
      color: #fff;
      .close {
        color: #fff;
        text-shadow: 0 1px 0 #fff;
      }
    }

    .chart-modal-footer {
      border-top: 1px solid #405060;

    }
  }

}



:global {
  .chart-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 3000;
    .chart-modal {
      pointer-events: all;
      outline: none;
    }
  }

}

