:global {
  .chart-setting-panel {
  }

  .chart-setting-table {
    margin: 10px;
    padding: 0;
    width: 100%;
    .label-name {
      padding-right: 10px;
      padding-bottom: 8px;
      white-space: nowrap;
      width: 20%;
    }
    .label-value {
      padding-bottom: 8px;
    }
  }
}
