.chart-tooltip-container {
	position: absolute;
	z-index: 100;
	width: 200px;
	left: -100px;
	top: 0;
	height: auto;
	pointer-events: none;
	will-change: transform;

	.chart-tooltip-content {
		display: block;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border-radius: 2px;
		font-size: 10px;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.8);
		border: 1px solid #999;
		color: #fff;
		> li {
			display: block;
			list-style: none;
			margin: 2px 0;
			padding: 0;
			overflow: hidden;
			user-select: none;
			> .label {
				float: left;
        width: 40%;
        padding-left: 5px;
        min-width: 40px;
        white-space: nowrap;
			}
      > .value {
        float: right;
        padding-right: 5px;

      }
      > .chart-tooltip-title {
        display: flex;
        font-size: 11px;
        font-weight: bold;
        padding: 0 5px;
				background-color: rgba(123, 123, 123, 0.2);
				div {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span {
					letter-spacing: -0.1em;
					white-space: nowrap;
				}
      }
		}
	}
}